<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>app-store</string> <!-- app-store, ad-hoc, enterprise, development -->
  <key>teamID</key>
  <string>8GZ776NSU2</string>
	<key>signingStyle</key>
	<string>manual</string>
  <key>provisioningProfiles</key>
	<dict>
		<key>live.videosdk.flutter.example</key>
		<string>Flutter iOS Example</string>
		<key>live.videosdk.flutter.example.FlutterBroadcast</key>
		<string>Flutter iOS Example Broadcast</string>
	</dict>
</dict>
</plist>